
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table table-bordered">
    <thead>

        <tr class="text-center">
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>ImagePath</th>
            <th>StartDate</th>
            <th>Salary</th>
            <th>Notes</th>
            <th>Operations</th>
        </tr>

    </thead>
    <tbody class="text-center" id="table_data">
    </tbody>

</table>

@* <a href="/lib/jquery/dist/jquery.min.map">/lib/jquery/dist/jquery.min.map</a> *@
@* <a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a> *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/custom.js"></script>